@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?6508590');
  src: url('../font/fontello.eot?6508590#iefix') format('embedded-opentype'), url('../font/fontello.woff?6508590') format('woff'), url('../font/fontello.ttf?6508590') format('truetype'), url('../font/fontello.svg?6508590#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl';
  src: url('../font/ALSRubl.eot');
  src: url('../font/ALSRubl.eot?#iefix') format('embedded-opentype'), url('../font/ALSRubl.woff2') format('woff2'), url('../font/ALSRubl.woff') format('woff'), url('../font/ALSRubl.ttf') format('truetype'), url('../font/ALSRubl.svg#ALSRubl') format('svg');
  font-weight: normal;
  font-style: normal;
}
.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
html {
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
}
button {
  border: 0 !important;
  outline: none !important;
}
button:active {
  background: #dceaf7 !important;
  color: #126fc2 !important;
}
button a:active {
  color: #126fc2 !important;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header {
  height: 450px;
  max-height: 450px;
  min-height: 430px;
  background: url(../img/header.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}
header .container .navbar a.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}
header .container .content {
  margin-left: 3%;
  color: #fff;
  position: relative;
  height: 300px;
  max-height: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
header .container .content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
header .container .content h3 {
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
header .container .content h2 {
  margin-top: 1.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
header .container .content a#buttonpodrobnee {
  margin-top: 3%;
  height: 40px !important;
  flex: 0 0 30px;
  border-radius: 100px;
  font-size: 0.8rem;
  background: #126fc2;
  border-color: #126fc2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  outline: none;
  text-decoration: none;
}
header .container .content a#buttonpodrobnee:active {
  background: #dceaf7 !important;
  color: #126fc2 !important;
}
header .container .content a#buttonsilka {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration: underline;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  justify-content: flex-start;
}
header .container .content a#buttonsilka:focus {
  cursor: pointer;
}
header .container .content a#buttonsilka i {
  font-size: 0.8rem;
  text-decoration: none !important;
}
.calc {
  height: 100vh;
  max-height: 700px;
  min-height: 650px;
  padding-top: 5vh;
}
.calc .container .calc-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  max-height: 300px;
  min-height: 250px;
}
.calc .container .calc-content .block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calc .container .calc-content .block1 .circle1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #126fc2;
}
.calc .container .calc-content .block1 .circle1 img {
  margin-left: 6px;
  margin-bottom: 2px;
}
.calc .container .calc-content .block1 p {
  margin-top: 5%;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.calc .container .calc-content .block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calc .container .calc-content .block2 .circle2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #126fc2;
}
.calc .container .calc-content .block2 .circle2 img {
  margin-left: 2px;
  margin-bottom: 2px;
}
.calc .container .calc-content .block2 p {
  margin-top: 5%;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.calc .container .calc-content .block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calc .container .calc-content .block3 .circle3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #126fc2;
}
.calc .container .calc-content .block3 .circle3 img {
  margin-left: 6px;
  margin-bottom: 2px;
}
.calc .container .calc-content .block3 p {
  margin-top: 5%;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.calc .container .calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  max-height: 500px;
  min-height: 450px;
  margin-top: 8vh;
}
.calc .container .calculator h1 {
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 13vh;
  line-height: 30px;
}
.calc .container .calculator h1 span {
  margin-top: -1vh;
  font-size: 0.8rem;
  font-weight: 300;
}
.calc .container .calculator .block-calc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
  /* max-height: 550px;
				min-height: 500px; */
  margin-top: 5vh;
}
.calc .container .calculator .block-calc .block-polzunok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-top: 5vh;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit {
  height: 5vh;
  flex: 0 0 10vh;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit label {
  padding: 0;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit label p {
  margin: 0;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit label p small {
  font-family: 'ALSRubl', sans-serif;
  font-weight: 300;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit .range-bar {
  background-color: #b7d4ef;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit .range-max,
.calc .container .calculator .block-calc .block-polzunok .summakredit .range-min {
  display: none;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit .kredit {
  margin-top: 2vh;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit .kredit .range-handle {
  height: 20px;
  width: 20px;
  top: -9px;
  background: #126fc2;
}
.calc .container .calculator .block-calc .block-polzunok .summakredit .kredit .range-quantity {
  background: #126fc2;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit {
  height: 10vh;
  margin-top: 0vh;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit label {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit label p {
  margin: 0;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit .range-bar {
  background-color: #b7d4ef;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit .range-max,
.calc .container .calculator .block-calc .block-polzunok .srokkredit .range-min {
  display: none;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit .srok {
  margin-top: 3vh;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit .srok .range-handle {
  height: 20px;
  width: 20px;
  top: -9px;
  background: #126fc2;
}
.calc .container .calculator .block-calc .block-polzunok .srokkredit .srok .range-quantity {
  background: #126fc2;
}
.calc .container .calculator .block-calc .block-summa {
  background: #fbfbfb;
  box-shadow: 0px 5px 10px #ebf0f5;
  border-radius: 20px;
  height: 22vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc .container .calculator .block-calc .block-summa .cicle {
  position: absolute;
  right: -8%;
  top: -25%;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  background: #126fc2;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.calc .container .calculator .block-calc .block-summa .cicle p {
  margin-top: 2vh	;
  line-height: 20px;
  margin-bottom: 0;
}
.calc .container .calculator .block-calc .block-summa p {
  margin-top: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.calc .container .calculator .block-calc .block-summa .result {
  margin-top: 0vh;
  height: 30px;
  width: 200px;
  z-index: 10;
}
.calc .container .calculator .block-calc .block-summa .result p {
  margin: 0;
  color: #000;
  font-family: 'ALSRubl', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.calc .container .calculator .block-calc .block-summa .result p span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.calc .container .calculator .block-calc .block-summa a#buttonkredit {
  position: absolute;
  background: #126fc2;
  border-color: #126fc2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border-radius: 100px;
  font-size: 0.8rem;
  bottom: 10px;
  left: 70px;
  outline: none;
  padding: 0;
  text-decoration: none;
}
.calc .container .calculator .block-calc .block-summa a#buttonkredit:active {
  background: #dceaf7 !important;
  color: #126fc2 !important;
}
.contactform {
  display: flex;
  justify-content: center;
  height: 55vh;
  max-height: 450px;
  min-height: 400px;
}
.contactform .container h1 {
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 15vh;
}
.contactform .container h1 span {
  font-size: 0.9rem;
  font-weight: 300;
}
.contactform .container .form-content {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}
.contactform .container .form-content .block1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactform .container .form-content .block1 .circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #dceaf7;
  border-radius: 100px;
}
.contactform .container .form-content .block1 .circle1 p {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #126fc2;
  margin: 0;
}
.contactform .container .form-content .block1 p {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 3%;
  margin-bottom: 0;
}
.contactform .container .form-content .block2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactform .container .form-content .block2 .circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #dceaf7;
  border-radius: 100px;
}
.contactform .container .form-content .block2 .circle2 p {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #126fc2;
  margin: 0;
}
.contactform .container .form-content .block2 p {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 3%;
  margin-bottom: 0;
}
.contactform .container .form-content .block3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactform .container .form-content .block3 .circle3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #dceaf7;
  border-radius: 100px;
}
.contactform .container .form-content .block3 .circle3 p {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #126fc2;
  margin: 0;
}
.contactform .container .form-content .block3 p {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 3%;
  margin-bottom: 0;
}
.contactform .container .formcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.contactform .container .formcontact form {
  display: flex;
  flex-direction: row;
}
.contactform .container .formcontact form .field-block input {
  border: 2px solid #bcd7f0;
  background: #fff;
  border-radius: 30px;
  height: 45px;
  outline: none;
}
.contactform .container .formcontact form button {
  height: 45px;
  background: #126fc2;
  border-radius: 30px;
  border-color: #126fc2;
  border: 0;
  color: #fff;
  max-width: 230px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  max-height: 250px;
  min-height: 200px;
}
footer .container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
  padding: 0 2%;
}
